*__pycache__*
*.so
*.html
build/
cython_debug/
output/
data/
Memory*
eval_speed*
*.mat
phantom/
Phantom/
Brain_Data/
knee/
radial_amsterdam/
Phantom_Data/
outfile*
*.gif
T2/
Compute_*.py
diffusion/
*.svg
*.ini
bSSFPVFA/
SMS/
data/
*.ini
dist*
.egg*
pyqmri.egg*
.coverage
doc/_build*
Granat/
gpyfft/
.idea/